.CatalogoContactos{
    border: 1px solid #000;
    width: 202px;
    height: 204px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
    margin-top: 20%;
    border-radius: 14px;
}

.BotonesContactos{
    background-color: #fff;
    border: none;
    font-size: 20px;
    text-decoration: underline;
    width: 200px;
    height: 40px;
}