#contenido{
    text-align: center;
}

.cajaEntradasIn section{
    margin-top: 10%;
}
header h1{
    font-family: K2D;
}
.botonFlecha{
    display: flex;
    margin-left: 1%;
}
.cajaEntradasIn input{
    width: 50%;
    border-style: none;
    border-bottom: 1.5px solid black;
    color: black;
    font-family: K2D;
    font-style: normal;
    font-weight: normal;
    font-size: 140%;
}
.cajaEntradasIn select{
    width: 60%;
    border-style: none;
    border-bottom: 1.5px solid black;
    color: black;
    font-family: K2D;
    font-style: normal;
    font-weight: normal;
    font-size: 140%;
}

.botones{
    display: inline-block;
    margin-bottom: 10%;
    margin-top: 10%;
}

.botones div{
    margin-top: 5%;
}

.botones :hover{
    display: inline-block;
    background-color: maroon;
    color: white;
}

.labels{
    width: 60%;
    border-style: none;
    color: black;
    font-family: K2D;
    font-style: normal;
    font-weight: normal;
    font-size: 140%;
}

.selectCuadro{
    width: 300px;
    height: 30px;
    margin-bottom: 70px;
    margin-left: 60px;
    font-family: K2D;
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 21px;
}