.Buscador_div{
    display: flex;
    justify-content: flex-end;
    padding: 15px;
}

.Buscador_div input {
    width: 200px;
    height: 37px;
    padding: 0 15px 0 15px;
    font-size: 18px;
    font-family: K2D;
    font-style: normal;
    font-weight: 100;
    outline: none;
    border: 0;
    border-radius: 20px;
    filter: drop-shadow(0px 2px 2px #000);
}

.Buscador_div button {
    width: 10px;
    height: 37px;
    padding: 5px 70px 0 15px;
    font-size: 18px;
    font-family: K2D;
    font-style: normal;
    font-weight: 100;
    outline: none;
    border: 0;
    border-radius: 20px;
    filter: drop-shadow(0px 2px 2px #000);
}

.Buscador_imagen button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 35px;
    height: 30px;
    line-height: 20px;
    text-align: center;
    color:white;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    border: 0;
}

.Buscador_imagen2 button{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 35px;
    height: 30px;
    line-height: 20px;
    text-align: center;
    color:white;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    border: 0;
}

#iconoBuscar {
    width: 20px;
    height: 20px;
}

#iconoFiltrar {
    width: 22px;
    height: 22px;
}
