.buscar{
    display: flex;
    justify-content: flex-end;
    padding: 15px;
}

.buscar input {
    width: 321px;
    height: 37px;
    padding: 0 70px 0 15px;
    font-size: 18px;
    font-family: K2D;
    font-style: normal;
    font-weight: 100;
    outline: none;
    border: 0;
    border-radius: 20px;
    filter: drop-shadow(0px 2px 2px #000);
}

.imagen button{
    display: flex;
    justify-content: flex-end;
    width: 35px;
    height: 30px;
    line-height: 20px;
    text-align: center;
    color:white;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    border: 0;
}

.imagen2 button{
    display: flex;
    justify-content: flex-end;
    width: 35px;
    height: 30px;
    line-height: 20px;
    text-align: center;
    color:white;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    border: 0;
}

#iconoBuscar {
    width: 20px;
    height: 20px;
}

#filtrar {
    width: 22px;
    height: 22px;
}
