.VentanaGuardado{
    border: 1px solid #000;
    width: 269px;
    height: 209px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 20%;
}

#Botoncierra{
    width: 40px;
    height: 30px;
    background-color: transparent;
    border: none;
    margin-left: 210px;
    margin-top: 10px;
}

#cierra{
    width: 28px;
    height: 26px;
    text-align: center;
}

#paloma{
    width: 70px;
    height: 70px;
    display: block;
    margin: auto;
}

#Guardadoconexito{
    font-size: 18px;
    text-align: center;
}

