.BotonEstatusBoton{
    width: 33px;
    height: 33px;
    border-radius: 100px;
    border: 1px solid #000;
}

#Aprobado{
    background: #A1CF8C;
}

#enEspera{
    background: #FFE601;
}

#Rechazado{
    background: #F30000;
}