.botonflecha {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.botonflecha button{
    display: flex;
    width: 40px;
    height: 45px;
    line-height: 20px;
    text-align: center;
    color:white;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    border: 0;
    padding: 20px;
}

#flecha {
    width: 30px;
    height: 35px;
}

