.catalogoCompromiso{
    border: 1px solid #000;
    width: 202px;
    height: 204px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 14px;
    padding: 20px 20px 20px 20px;
}

.botonCompromiso{
    background-color: #fff;
    border: none;
    font-size: 20px;
    text-decoration: underline;
    width: 200px;
    height: 40px;
}
