*{
    margin: 0;
    padding: 0;
}
.Card{
    width: 65%;
    height: fit-content;
    background: #FFFFFF;
    border: 0.3px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    padding: 5% 0;
    margin-top: 6%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.Opcion{
    font-family: PT Sans Narrow;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
    text-align: center;

    color: #000000;
}

.Imagen{
    width: 85%;
    /* height: fit-content; */
}