.AdminNuevoAnalista_body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.AdminNuevoAnalista_h1 {
    display: flex;
    font-family: K2D;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    margin: 0 0 30px 0;
}

.AdminNUevoAnalista_form {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.AdminNuevoAnalista_input {
    display: flex;
    margin-bottom: 90px;
    width: 270px;
    height: 30px;
    font-family: K2D;
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 21px;
    border-top: 0;
    border-right: 0;
    border-left: 0;
}