.AdminEditarAsesor_body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.AdminEditarAsesor_h1 {
    display: flex;
    font-family: K2D;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    margin: 0 0 30px 0;
}

.AdminEditarAsesor_form {
    display: flex;
    flex-direction: column;
}

.AdminEditarAsesor_input {
    display: flex;
    margin-bottom: 70px;
    width: 200px;
    height: 30px;
    font-family: K2D;
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 21px;
    border-top: 0;
    border-right: 0;
    border-left: 0;
}

.AdminEditarAsesor_div {
    display: flex;
    flex-direction: row;
}

.AdminEditarAsesor_label {
    width: 40%;
    font-family: K2D;
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 21px;
}

.AdminEditarAsesor_select {
    width: 280px;
    height: 30px;
    margin-bottom: 70px;
    font-family: K2D;
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 21px;
}

.AdminNuevoAsesor_la {
    font-family: K2D;
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 21px;
}