.opciones button {
    position: absolute;
    top: 5%;
    right: 95%;
    width: 25px;
    height: 25px;
    line-height: 20px;
    text-align: center;
    color:white;
    border-radius: 50%;
    cursor: pointer;
    border: 0;
}

#desplegar {
    width: 15px;
    height: 15px;
}