.AdminVerAnalistas{
    display: flex;
    flex-direction: column;
}

.AdminVerAnalistasHeader{
    position: sticky;
    display: flex;
    justify-content: center;
}

.ContenidoParaAdminVerAnalistas{
    height: auto;
    display: flex;
    flex-direction: column;
    margin: auto;
    border: 2px solid #000;
    border-radius: 15px;
    width: 357px;
    margin-bottom: 20px;
}

.CuadroNombreAnalista{
    border-bottom: 1px solid #000;
    text-align: left;
    margin-left: 5px;
    padding-bottom: 15px;
}

.NombreAnalistaTitulo{
    font-family: K2D;
    font-style: normal;
    font-weight: 100;
    font-size: 18px;
    line-height: 23px;
}

.nombreDeAnalista{
    font-family: K2D;
    font-style: normal;
    font-weight: 200;
    font-size: 13px;
    line-height: 17px;
    width: 250px;
}

.InforamcionDeTablaAdminAnalista{
    width: 354px;
    height: 35px;
    border-bottom: 1px solid #000;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0px;
    margin-top: 0px;
}

.FooterAdminVerAnalista{
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
