.BotonCerrarSesionBoton{
    width: 111px;
    height: 23px;
    left: 140px;
    top: 700px;
    font-family: K2D;
    font-style: normal;
    text-decoration: underline;
    color: #040D61;
    font-weight: 100;
    font-size: 18px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    border: none;
    background: none;
    margin-top: 5%;
}