.desactivarVentana{
    border: 1px solid #000;
    width: 202px;
    height: 204px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
    margin-top: 20%;
    border-radius: 14px;
    
}
.desactivarVentana p{
    font-family: K2D;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
}